* {
  color: white;
  box-sizing: border-box;
  font-family: Calibri !important;
}

body {
  background-image: url(./pool-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
}

header {
  width: 100dvw;
}

header nav {
  /* border: 1px solid cyan; */
  background: rgb(75, 75, 75);
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
}

header ul {
  width: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

header li {
  /* border: 1px solid red; */
  background: rgb(25, 25, 25);
  width: calc(1/3*100%);
  display: inline-flex;
  align-content: center;
  justify-content: center;
  font-size: 30px;
  padding: 10px 0px;
}

.gametab {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.gametab nav {
  width: 100%;
}

.gametab ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.gametab li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border: 2px white solid;
  border-radius: 5px;
  font-size: 30px;
  padding: 2.5px 10px;
}

.active {
  background-color: rgb(60, 60, 60) !important;
}

.addPlayerCard {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px;
}

.playersHeader {
  font-size: 30px;
}

.addPlayer {
  width: calc(100% - 2px);
}

.btn {
  font-size: 20px;
  align-self: center;
  color: rgba(255, 255, 255, .90);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(255, 255, 255, .75);
  border-radius: 5px;
}

.playerInputCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.playerInput {
  width: 100%;
  font-size: 20px;
  color: rgb(25, 25, 25);
  border-radius: 5px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  font-size: 25px;
}

.playersList {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 0px 20px;
  gap: 10px;
}

.playerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreTab {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.scoresHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.scoreCard {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.playerName {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.scoreBox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 10px 0px;
}

.upDown, .score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upDown {
  width: 30px;
}

.score {
  width: 50px;
}