* {
  box-sizing: border-box !important;
  color: white;
  font-family: Calibri !important;
}

body {
  display: flex !important;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  background-image: url(./pool-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* STYLING THAT APPLEIS TO ALL ELEMENTS OF SPECIFIED TAG */

.btn {
  background-color: rgba(0, 0, 0, .65);
  border: 2px solid rgba(255, 255, 255, .75);
  border-radius: 5px;
}

.btn:active {
  border: 2px solid white;
}

/* HEADER AND NAVBAR RELATED STYLING BELOW */

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

header nav {
  display: flex;
  width: 100%;
}

header ul {
  display: flex;
  /* gap: 2px; */
  /* justify-content: space-between; */
  width: 100%;
  font-size: 30px;
  /* background-color: rgb(125, 125, 125); */
  background-color: rgb(25, 25, 25);
  border-bottom: 2px solid white;
}

header li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: calc(100%/3);
  background-color: rgb(25, 25, 25);
}

.gameNav {
  border-left: 2px solid rgb(125, 125, 125);
}

.scoreNav {
  border-left: 2px solid rgb(125, 125, 125);
}

.active {
  background-color: rgb(75, 75, 75) !important;
}

/* PLAYER TAB STYLING BELOW */

.playerTabContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

/* ADD PLAYER CARD STYLING BELOW */

form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.playerInputCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.playersHeader {
  font-size: 40px;
}

.inputContainer {
  display: flex;
  gap: 10px;
  width: 100%;
}

.playerInput {
  display: flex;
  height: 45px;
  width: 80%;
  font-size: 30px;
  color: rgb(25, 25, 25);
  outline: none;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px rgb(150, 150, 150);
  border: 1px solid rgb(25, 25, 25);
}

.playerInput:focus {
  box-shadow: inset 0 0 0 1px rgb(150, 150, 150);
  border: 1px solid white;
}

.addPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 20px;
}

/* EVERYTHING PLAYERSLIST RELATED BELOW */

.playersList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.playersRule {
  position: relative;
  display: flex;
  font-size: 30px;
  text-align: center;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px 10px;
  /* animation: blink 2s infinite steps(1); */
}

/* OPTIONAL ANIMATION BELOW */

/* @keyframes blink {
  0% {
    border-color: transparent;
    display: flex;
  }
  50% {
    border-color: red;
    display: none;
  }
  100% {
    border-color: transparent;
    display: flex;
  }
} */

.pListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.playerRow {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

.playerRow label {
  width: 70%;
  font-size: 30px;
  overflow-x: scroll;
}

.playerRow .delete {
  font-size: 20px;
  width: 30%;
}

/* EVERYTHING GAME TAB RELATED BELOW */

.gameTab {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.gameHeader {
  font-size: 40px;
  border-bottom: 2px solid white;
}

.gameTab ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.gameTab li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60%;
  font-size: 30px;
  background-color: rgba(0, 0, 0, .65);
  border: 2px solid rgba(255, 255, 255, .75);
  border-radius: 5px;
}

/* EVERYTHING SCORE TAB RELATED BELOW */

.scoreTab {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.scoresHeader {
  font-size: 40px;
  border-bottom: 2px solid white;
}

.sCardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.scoreCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 40px;
  width: 100%;
}

.playerName {
  display: flex;
  align-items: center;
  height: 40px;
  width: 70%;
  font-size: 30px;
  overflow-x: scroll;
}

.scoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.upDown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 30px;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  font-size: 30px;
}

.finishGame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60%;
  font-size: 30px;
  margin-top: auto;
}

/* EVERYTHING TOTAL CONTAINER RELATED BELOW*/

.shader {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  bottom: 0px;
}

.totalContainer {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.totalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: 60%;
  width: 80%;
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  box-shadow: 5px 10px 10px black;
  padding: 20px;
}

.totalHeader {
  display: flex;
  justify-content: center;
  font-size: 40px;
  border-bottom: 2px solid white;
}

.finalContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 60%;
  width: 100%;
  padding-bottom: 1px;
}

.playerFinal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playerTotal {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  overflow-x: auto;
  font-size: 25px;
  padding-bottom: 1px;
}

.playerGame {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-bottom: 1px;
}

.btnBox {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.backBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40%;
  font-size: 30px;
  background-color: rgb(25, 25, 25) !important;
}

.noTotal {
  text-align: center;
  font-size: 30px;
}